.timeBlock:hover {
  background-color: rgb(235, 235, 235) !important;
}

.addEvent:hover {
  box-shadow: 0px 0px 5px gray;
}

.eventButton:hover{
  box-shadow: px 0px 5px gray !important;
}

::-webkit-scrollbar {
  height: 6px;              /* height of horizontal scrollbar ← You're missing this */
  width: 4px;               /* width of vertical scrollbar */
  border: 1px solid lightgray;
}

::-webkit-scrollbar-thumb{
  background: #000;
  border-radius: 10px;
}
